.product-image {
    max-width: 40px;
  }

  .in-stock {
    color: green;
    font-weight: bold;
  }
  
  .low-stock {
    color: orange;
    font-weight: bold;
  }
  
  .out-of-stock {
    color: red;
    font-weight: bold;
  }
  
//* Fjern margene fra no-gutters klassen */
.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

/* Sett høyden på card-body til 100% */
.card-body {
  height: 100%;
}

/* Juster bilde- og tekststørrelsen */
.product-image_produkter {
  margin-bottom: 0;
  height: 90%;
  object-fit: cover;
  padding-left: 10px
}

.my-hr {
  height: 1px;
  background-color: #dcdcdc;
  border: none;
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
}

.btn:hover,
.btn:focus {
  background-color: #0062cc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Stiler for footer */
.footer {
    background-color: #333; /* Bakgrunnsfargen for footer */
    color: #fff; /* Tekstfargen for footer */
    padding: 30px 0; /* Mellomrom over og under footer-elementene */
}

.footer h3 {
    color: #fff; /* Fargen for overskrifter i footer */
}

.footer a {
    color: #fff; /* Fargen for lenker i footer */
}

.footer a:hover {
    text-decoration: underline; /* Legger til understrek på lenker når musepekeren svever over dem */
}
