{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>Node detaljer</h1>
  <h2>{{ node.location }}</h2>
  <ul>
    <li>Adresse: {{ node.address1 }}</li>
    <li>Postnummer: {{ node.postcode }}</li>
    <li>Poststed: {{ node.postcity }}</li>
  </ul>
  <h3>Inventar:</h3>
  <table class="table table-bordered table-responsive-sm">
    <thead>
      <tr>
        <th scope="col">Produkt</th>
        <th scope="col">Antall</th>
      </tr>
    </thead>
    <tbody>
      {% for item in inventory %}
        <tr>
          <td>{{ item.product.name }}</td>
          <td>{{ item.count }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">Ingen inventarinformasjon tilgjengelig.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
  